body {
    background-color: lightpink;
}

.container {
    border: 2px solid black;
}

#gifs-appear-here {
    
}
h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: red;
}
#buttons {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.btn {
    color: blueviolet;
    text-align: right;
}

.btn:hover {
    color: red;
}